.controls {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.5rem;
}

.solutions {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 0;
}

.underNotes {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-self: center;
}

.mainNotes {
  width: calc(min(80vw, 60vh * 4));
  height: auto;
  aspect-ratio: 4 / 1;
  margin: 0 auto;
}

.ruleCheckbox {
  font-family: monospace;
}

.rules {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
