.solution {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: monospace;
}

.id {
  display: inline-block;
  min-width: 3ch;
  text-align: right;
}

.solutionNotes {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 0.25rem;
}

.solution > button {
  margin: 0.5rem;
}

.playButton {
  width: 10ch;
}
